<body>

    <div class="card blue-grey darken-1" id="login-card">
        <div class="card-content white-text">
            <span class="card-title center"> LOGIN </span>
            <label for="username"> Username </label>
            <input type="text" id="username">
            <label for="password"> Password </label>
            <input type="password" id="password">
        </div>
        <div class="card-action">
            <button class='btn waves-effect' id="login-button"> LOGIN </button>
        </div>
    </div>

</body>

<script type="text/javascript">

    $("#login-button").on("click", function(){
        const email = $("#username").val();
        const password = $("#password").val();
        firebase.auth().signInWithEmailAndPassword(email, password)
            .catch(function(error) {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                console.log(errorMessage);
                // ...
            });
    });

</script>