/* General */
.row {
    padding-top: 100px;   
}

th {
    text-align: center;
}

/* Home */
#firebaseui-auth-container {
    margin: 50px;
}

/* Directory */
#addStudent {
    display: block;
    margin: 50px auto;
}

.aSInput {
    padding-left: 30px;
    width: 80%;
}

.aSDetails {
    margin: 30px;
}

#sortDD {
    float: right;
    margin: 15px;
}

/* Birthdays */
#monthLine {
    padding: 30px;
    text-align: center;
}

#monthLine p {
    display: inline;
}

.monthNav {
    font-size: 3em;
    font-weight: 800;
    padding: 0px 20px;
}

#currMonth {
    font-size: 2em;
    font-weight: 500;
}