<body>

    <button class='btn'> Add Student </button>

    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>   

    <table>

        <thead>
            <th> Name </th>
            <th> Grade </th>
            <th> Birthday </th>
            <th> Phone Number </th>
            <th> Address </th>
            <th> Email Address </th>
            <th> Guardian 1's Name </th>
            <th> Guardian 1's Email </th>
            <th> Guardian 1's Phone Number </th>
            <th> Guardian 2's Name </th>
            <th> Guardian 2's Email </th>
            <th> Guardian 2's Phone Number </th>
        </thead>

    </table>

</body>

<script>

    $('.dropdown-trigger').dropdown();

</script>