<body>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#directory"> Directory </a></li>
                <li class="tab col s6"><a class="active" href="#birthdays"> Birthdays </a></li>
            </ul>
        </div>
        <div id="directory" class="col s12">

            <button class='btn' id='addStudent'> Add Student </button>

            <a class='sort-trigger btn' href='#' data-target='sortList' id='sortDD'> Sort By </a>

            <ul id='sortList' class='dropdown-content'>
                <li> <a href="#!"> 6B </a></li>
                <li> <a href="#!"> 6G </a></li>
                <li> <a href="#!"> 7B </a></li>
                <li> <a href="#!"> 7G </a></li>
                <li> <a href="#!"> 8B </a></li>
                <li> <a href="#!"> 8G </a></li>
                <li> <a href="#!"> 9B </a></li>
                <li> <a href="#!"> 9G </a></li>
                <li> <a href="#!"> 10B </a></li>
                <li> <a href="#!"> 10G </a></li>
                <li> <a href="#!"> 11B </a></li>
                <li> <a href="#!"> 11G </a></li>
                <li> <a href="#!"> 12B </a></li>
                <li> <a href="#!"> 12G </a></li>
            </ul>

            <table>
                <thead>
                    <th> Name </th>
                    <th> Grade </th>
                    <th> Birthday </th>
                    <th> Location </th>
                </thead>
            </table>

        </div>
        <div id="birthdays" class="col s12">
            
            <div id="monthLine">
                <p id="lastMonth" class="monthNav"> < </p>
                <p id="currMonth"> CURRENT MONTH </p>
                <p id="nextMonth" class="monthNav"> > </p>
            </div>

            <table> 
                <thead>
                    <th> Name </th>
                    <th> Grade </th>
                    <th> Birthday </th>
                    <th> Location </th>
                </thead>
            </table>

        </div>
    </div>

</body>