<body>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#directory"> Directory </a></li>
                <li class="tab col s6"><a class="active" href="#birthdays"> Birthdays </a></li>
            </ul>
        </div>
        <div id="directory" class="col s12">

            <button class='btn modal-trigger' data-target='addStudentModal' id='addStudent'> Add Student </button>

            {{!-- Add Student Modal Details --}}
            <div id="addStudentModal" class="modal">
                <div class="modal-content">
                    <h4> Add a Student </h4>
                    
                    <h5 class="aSDetails"> Name </h5>
                    <input style="margin-left: 30px; width: 80%;" id="aSName">

                    <h5 class="aSDetails"> Grade </h5>
                    <input style="margin-left: 30px; width: 80%;" id="aSGrade">

                    <h5 class="aSDetails"> Birthday </h5>
                    <input style="margin-left: 30px; width: 80%;" id="aSBirthday">

                    <h5 class="aSDetails"> Location </h5>
                    <input style="margin-left: 30px; width: 80%;" id="aSLocation">
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
                    
            <a class='sort-trigger btn' href='#' data-target='sortList' id='sortDD'> Sort By </a>

            {{!-- Sort By Dropdown Menu Details --}}
            <ul id='sortList' class='dropdown-content'>
                <li> <a href="#!" class='dropdownGrade' data-grade='6B'> 6B </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='6G'> 6G </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='7B'> 7B </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='7G'> 7G </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='8B'> 8B </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='8G'> 8G </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='9B'> 9B </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='9G'> 9G </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='10B'> 10B </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='10G'> 10G </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='11B'> 11B </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='11G'> 11G </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='12B'> 12B </a> </li>
                <li> <a href="#!" class='dropdownGrade' data-grade='12G'> 12G </a> </li>
            </ul>

            {{!-- Table Details for Students in Directory --}}
            <table>
                <thead>
                    <th> Name </th>
                    <th> Grade </th>
                    <th> Birthday </th>
                    <th> Location </th>
                </thead>
            </table>
            <div class="preloader-wrapper center big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

        </div>
        <div id="birthdays" class="col s12">
            
            <div id="monthLine">
                <p id="lastMonth" class="monthNav"> < </p>
                <p id="currMonth"> CURRENT MONTH </p>
                <p id="nextMonth" class="monthNav"> > </p>
            </div>

            <table> 
                <thead>
                    <th> Name </th>
                    <th> Grade </th>
                    <th> Birthday </th>
                    <th> Location </th>
                </thead>
            </table>

        </div>
    </div>

</body>